
/*------------Layout-------------*/
.main-container{
    display: flex;
    width: 1200px;
}

/*------------General-------------*/
ul {
    list-style-type: none;
}

/*------------Aside-------------*/

aside {
    background-color: #A9A763;
    width: 30%;
    margin-right: 3%;
}
aside * {
    color: white;
}
aside h2 {
    text-transform: uppercase;
    letter-spacing: 5px;
}
aside section h2:first-child {
    border-bottom: 2px solid white;
}
#profile-pic img{
    border-radius: 60%;
    box-shadow: 2px 2px 40px 1px #5852A5;
}

/*------------Main-------------*/
main section > h2 {
    text-transform: uppercase;
    letter-spacing: 5px;
}
.hero {
    background-color: #5852A5;
    box-shadow: 3px 3px 30px 5px #A9A763 inset;
}
.hero h2 {
    color: white;
    border-top: 2px solid white;
    text-transform: none;
    letter-spacing: normal;
}
.about-me{
    background-color: #9FA0AF;
}
.about-me h2 {
    background-color: white;
}
article h3,
article h4 {
    font-weight: bold;
}
article ul{
    list-style-type: square;
}

/*------------References-------------*/
.references {
    display: flex;
}